<div class="featured-destination-container">
  <h1 class="featured-heading">Featured Destination</h1>
  <p class="featured-description">
    Discover our handpicked selection of exceptional properties around the
    world, offering unparalleled luxury and unforgettable experiences.
  </p>
  <div class="featured-total-container">
    <div class="featured-card-container">
      <img [src]="assets.roomImg4" alt="roomImg1" class="featured-image" />
      <div class="featured-card-content">
        <h3 class="featured-heading">Urbanza Suites</h3>
        <p class="featured-address">Main Road 123 Street, 23 Colony</p>
        <div class="featured-price-container">
          <h3 class="featured-price">$399/night</h3>
          <button class="featured-book-now-button">Book now</button>
        </div>
      </div>
    </div>
    <div class="featured-card-container">
      <img [src]="assets.roomImg3" alt="roomImg2" class="featured-image" />
      <div class="featured-card-content">
        <h3 class="featured-heading">Urbanza Suites</h3>
        <p class="featured-address">Main Road 123 Street, 23 Colony</p>
        <div class="featured-price-container">
          <h3 class="featured-price">$299/night</h3>
          <button class="featured-book-now-button">Book now</button>
        </div>
      </div>
    </div>
    <div class="featured-card-container">
      <img [src]="assets.roomImg2" alt="roomImg3" class="featured-image" />
      <div class="featured-card-content">
        <h3 class="featured-heading">Urbanza Suites</h3>
        <p class="featured-address">Main Road 123 Street, 23 Colony</p>
        <div class="featured-price-container">
          <h3 class="featured-price">$249/night</h3>
          <button class="featured-book-now-button">Book now</button>
        </div>
      </div>
    </div>
    <div class="featured-card-container">
      <img [src]="assets.roomImg1" alt="roomImg4" class="featured-image" />
      <div class="featured-card-content">
        <h3 class="featured-heading">Urbanza Suites</h3>
        <p class="featured-address">Main Road 123 Street, 23 Colony</p>
        <div class="featured-price-container">
          <h3 class="featured-price">$199/night</h3>
          <button class="featured-book-now-button">Book now</button>
        </div>
      </div>
    </div>
  </div>
  <button class="all-destinations-button">View All Destinations</button>
</div>
