.hotel-rooms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80%;
  margin: 20px;
}

.hotel-heading {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: bold;
}

.hotel-description {
  font-family: "Roboto";
  margin-top: -10px;
}

.hotel-rooms-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.image {
  height: 250px;
  width: 350px;
  border-radius: 10px;
}

.hotel-rooms-content-card-container {
  padding-left: 20px;
  color: black;
  font-family: "Roboto";
}

.hotel-rooms-city {
  font-weight: light;
}

.hotel-rooms-name {
  font-weight: bold;
}

.hr-line {
  border: 1px solid #ccc;
}
