.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.testimonial-card-container {
  padding: 10px;
  background-color: #ddd;
  width: 300px;
  border-radius: 10px;
  padding-left: 20px;
  margin: 10px;
}

.testimonial-image {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.testimonial-content-container {
  display: flex;
}

.testimonial-name {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
}

.testimonial-total-container {
  display: flex;
}
